.form {
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  height: 55%;
  width: 35%;
  gap: 16px;
  direction: rtl;
}

h1 {
  text-align: right;
}
